footer {
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    background-color: #D5F2ED;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}