@media (max-width:800px){
    .container-fluid .navbar-brand img{
        width: 18%;
        height: 18%;
    }
}

@media (max-width:800px) {
    .hero{
        width: 100%;
        height: 70vh;
        background-image: url(../img/background_hero.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero h2{
        width: 30%;
        height: 30%;
        font-size: nth($font-size,3);
        border: 3px white solid;
        padding: 10px;
    }
    .hero p{
        width: 30%;
        height: 30%;
        font-size: nth($font-size,5);
    }
}

@media (max-width:800px) {
    .presentacion {
        height: 50vh;
    }
    .presentacion iframe {
        width: 70%;
        height: 40%;
    }
    .presentacion h3{
        font-size: nth($font-size,6);
    }
    .presentacion p{
        font-size: nth($font-size,7);
    }
    .aplicacion{
        padding: 5px;
        border-radius: 15px;
        font-size: nth($font-size,6);
    }
}

@media (max-width:700px) {
    .nosotros {
        height: 50vh;
        background-color: #D5C2ED;
        background-size: cover;
    }
    .nosotros__nosotros {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: nth($font-size,4);
        }
        p{
            font-size: nth($font-size,7);
        }
    }
}

@media (max-width:800px) and (min-width:0) {
    .juego{
        height: 50vh;
    }
    .juego__imagen{
        width: 75%;
    }

@media (max-width:850px){
    .herojuegos h1{
        font-size: nth($font-size,5);
        border: 2px white solid;
        padding: 3px;
    }
    .boton{
        padding: 5px;
        border-radius: 20px;
        margin-top: 3px;
    }

    .juegouno img{
        width: 75%
    }
    .juegouno h2{
        font-size: nth($font-size,4);
    }
    .juegouno h3{
        font-size: nth($font-size,5);
    }
    .juegouno p{
        font-size: nth($font-size,7);
    }
    .juegodos img{
        width: 75%
    }
    .juegodos h2{
        font-size: nth($font-size,4);
    }
    .juegodos h3{
        font-size: nth($font-size,5);
    }
    .juegodos p{
        font-size: nth($font-size,7);
    }
    .juegotres img{
        width: 75%
    }
    .juegotres h2{
        font-size: nth($font-size,4);
    }
    .juegotres h3{
        font-size: nth($font-size,5);
    }
    .juegotres p{
        font-size: nth($font-size,7);
    }
}
}
@media (max-width:700px) {
    .politica {
        height: 50vh;
        background-color: #D5C2ED;
        background-size: cover;
    }
    .politica__politica {
        width: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: nth($font-size,4);
            padding: 10px;
        }
        p{
            font-size: nth($font-size,7);
            padding: 15px;
        }
    }
}
@media (max-width:500px) {
    .politica {
        height: 60vh;
        background-color: #D5C2ED;
        background-size: cover;
    }
    .politica__politica {
        width: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: nth($font-size,4);
            padding: 5px;
        }
        p{
            font-size: nth($font-size,7);
            padding: 10px;
        }
    }
}